@media (max-width: 790px) {
  .header-container {
    height: 15cm;
    overflow: hidden;
    font-size: 10px;
  }

  .arrow-icon {
    height: 3.2cm;
    top: 56%;
  }

  .title {
    top: 20%;
  }

  .card-container {
    grid-template-columns: repeat(1, auto);
    font-size: 12px;
  }

  .primary-card-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .card-flex {
    height: 13cm;
  }

  .card-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-graphic-design,
  .card-photography {
    position: absolute;
    left: initial;
    padding: 0 0.3cm;
    transform: translateX(-0%);
    width: auto;
  }

  .feedback-container {
    height: auto;
    padding: 2cm 0cm;
  }

  .feedback-list {
    grid-template-columns: repeat(1, auto);
    gap: 2.5cm;
  }

  .feedback {
    color: hsl(213, 9%, 39%);
    padding: 0.5cm;
  }

  .card-gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .card-gallery-image {
    height: 10em;
  }

  .footer-container {
    font-size: 10px;
  }
}

@media (max-width: 480px) {
  .header-container {
    height: 13cm;
  }

  .title {
    top: 25%;
  }

  .nav-container {
    position: relative;
  }

  .nav-list {
    display: none;
  }

  .nav-list-mobile {
    position: absolute;
    top: 3cm;
    left: 0.5cm;
    right: 0.5cm;
    z-index: 1;
    height: 8cm;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    font-size: 2.5em;

    background-color: #fff;
  }

  .nav-container-after::after {
    content: "";
    border-left: 40px solid transparent;
    border-bottom: 35px solid #fff;

    position: absolute;
    top: 2.1cm;
    right: 0.5cm;
  }

  .nav-item {
    font-weight: 500;
  }

  .nav-item a {
    color: hsl(213, 9%, 39%);
  }

  .nav-item-contact {
    background-color: #fbd601;
    padding: 0.4cm 1cm;
  }

  .nav-item-contact a {
    color: black;
  }

  .burger-menu {
    display: flex;
    flex-direction: column;
    gap: 7px;
    cursor: pointer;
    background: none;
  }

  .bar-burguer {
    display: block;
    width: 28px;
    height: 3px;
    background-color: #fff;
  }

  .card-image-container {
    height: 100%;
  }

  .nav-footer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    padding: 1cm 0 2cm 0;
    gap: 0.5cm;
  }
}
