@media screen and (max-width: 1020px) {
  .feedback-list {
    grid-template-columns: repeat(3, auto);
    padding: 2cm 0.5cm 0.5cm;
  }
}

@media screen and (max-width: 870px) {
  .card-content {
    width: auto;
    padding: 0 0.5cm;
  }
}
